@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/* .anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  color: white;
}

body {
  background-color: black;
}

.headerMobile {
  display: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
}
.logo {
  font-size: 20px;
}

.logo span {
  color: orange;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.btnMenu {
  border: none;
  background-color: transparent;
  font-size: 16px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.btnSalir i {
  color: orange;
}

.btnMenu:hover {
  border-bottom: 1px solid orange;
  transform: scale(1.2);
}

.btnSalir {
  border: none;
}

.btnSalir:hover {
  border: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  margin: 80px;
  margin-bottom: 20px;
}

.buscadorPelicula {
  font-size: 20px;
  text-align: center;
  width: 40%;
  margin-bottom: 80px;
  border: 1px solid white;
  font-weight: normal;
  background-color: black;
}

.buscadorPelicula:focus {
  border: 1px solid orange;
  outline: none;
  font-weight: normal;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px;
}

.pelicula {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenPeli {
  max-width: 100%;
  max-height: 430px;
}

.btnMirar {
  border: none;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10%;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.btnMirar:hover {
  background-color: orange;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
}

.copyright {
  color: gray;
  margin: 20px;
}

/* ingreso */

.ingreso {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario {
  display: flex;
}

.formulario input,
.invitado {
  border: 1px solid orange;
  margin: 10px;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  background-color: black;
}

.invitado {
  padding: 0 78px;
  background-color: black;
}

.btnIngreso {
  transition: all 0.3s;
  background-color: black;
}

.btnIngreso:hover {
  background-color: orange;
}

.contenedor {
  height: 100vw;
}

.ocultar {
  display: none;
}

/* media queries */

@media only screen and (max-width: 762px) {
  header {
    display: none;
  }

  .logo {
    display: none;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
  }

  .headerMobile {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
  }

  .headerMobile nav {
    display: flex;
    width: 40%;
    position: fixed;
    top: 50px;
    background-color: black;
  }

  .fa-bars {
    color: orange;
    font-size: 25px;
  }

  .ocultar {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .titulo {
    margin: 40px;
  }

  .buscadorPelicula {
    width: 70%;
    margin-bottom: 20px;
  }

  .grilla {
    grid-template-columns: repeat(2, 1fr);
  }

  .formulario {
    display: flex;
    flex-direction: column;
  }

  .invitado {
    padding: 5px 20px;
  }
}

@media only screen and (min-width: 600px) {
  
  .buscadorPelicula {
    width: 70%;
    margin-bottom: 20px;
  }
  
  .grilla {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .grilla {
    grid-template-columns: repeat(4, 1fr);
  }
}